# Introduction 

Notebook ini digunakan untuk membuat dataset sesuai yang dibutuhkan oleh technical test. Saya menggunakan basis dataset dari kaggle kemudian saya akan memberikan kolom-kolom yang dibutuhkan sehingga dataset menjadi lebih cocok dengan soal dan konteks.

# Importing Libraries

In [1]:
# Importing Libraries
import pandas as pd 
from faker import Faker
import random 
import numpy as np

# Data Loading

In [2]:
# data loading from dataset
df = pd.read_csv('user_behavior_dataset.csv')
df.head(20)

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3
5,6,Google Pixel 5,Android,99,2.0,940,35,564,31,Male,2
6,7,Samsung Galaxy S21,Android,350,7.3,1802,66,1054,21,Female,4
7,8,OnePlus 9,Android,543,11.4,2956,82,1702,31,Male,5
8,9,Samsung Galaxy S21,Android,340,7.7,2138,75,1053,42,Female,4
9,10,iPhone 12,iOS,424,6.6,1957,75,1301,42,Male,4
10,11,Google Pixel 5,Android,53,1.4,435,17,162,34,Female,1
11,12,OnePlus 9,Android,215,5.5,1690,47,641,24,Male,3
12,13,OnePlus 9,Android,462,6.2,2303,65,1099,57,Female,4
13,14,Xiaomi Mi 11,Android,215,4.9,1662,43,857,43,Male,3
14,15,iPhone 12,iOS,189,5.4,1754,53,779,49,Female,3
15,16,Google Pixel 5,Android,503,10.4,2571,84,2025,39,Female,5
16,17,OnePlus 9,Android,132,3.6,628,32,344,47,Female,2
17,18,iPhone 12,iOS,299,5.8,1431,41,985,44,Female,3
18,19,Google Pixel 5,Android,81,1.4,558,16,297,26,Female,1
19,20,iPhone 12,iOS,577,8.5,2774,89,2192,29,Female,5

Ini merupakan dataset dari kaggle sudah terdapat beberapa kolom yang kita gunakan misalkan jenis device atau merk. kemudian usia yang bisa kita kurangi dengan tahun sekarang. Terdapat User Behavior class yang kemungkinan bisa kita rubah ke kolom penting atau bisa kita hapus. Dan info-info lain yang bisa kita lihat langsung pada kolom diatas.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User ID                     700 non-null    int64
 1   Device Model                700 non-null    object
 2   Operating System            700 non-null    object
 3   App Usage Time (min/day)    700 non-null    int64
 4   Screen On Time (hours/day)  700 non-null    float64
 5   Battery Drain (mAh/day)     700 non-null    int64
 6   Number of Apps Installed    700 non-null    int64
 7   Data Usage (MB/day)         700 non-null    int64
 8   Age                         700 non-null    int64
 9   Gender                      700 non-null    object
 10  User Behavior Class         700 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 60.3+ KB

In [4]:
df['User ID'].nunique()

700

# Technical Test Question 

Buatlah sample data untuk bahan analisis 

- Buatkan Analisis data tersebut berdasarkan variabel berikut ini: 

1. Nama Lokasi 
2. Jam Login 
3. Nama 
4. Email 
5. No Telp 
6. Tahun Lahir 
7. Merk HP 
8. Digital Interest 
9. Location Type. 

- Kembangkan variable diatas menjadi beberapa variabel baru (Nilai Plus)

- Membuat System Confidence Interval (Nilai Plus)

# Problem Breakdown 

Kita kembali lagi ke dataset kita sudah memiliki kolom 

1. Tahun Lahir (dengan mengurangi dengan usia)
2. Merk HP. 
3. Digital Interest 
Mengembangkan dari user behavior class kemudian kita ganti dengan digital interest mungkin seperti sosmed, streaming video, news, E-commerce, other. 

Kolom yang belum dimiliki 
1. Nama Lokasi 
2. Jam Login 
3. Nama 
4. Email 
5. No Telp 
6. Location Type

# Generate Dummy Data

## Generate Location Type  

Untuk membuat data-data dummy disini saya mencoba menggunakan pendekatan dari website HIGO Fitur dan kemudian saya berusaha untuk membuat seacak mungkin dengan mempelajari fitur-fitur kemungkinan yang akan ada di real life atau mendekati real-life sesuai lokasi-lokasi yang tersedia di Higo Website. 

List Location Type 

1. Cafe / Coffee Shop 
2. Compound Space 
3. Office 
4. Restaurant 
5. Transportation 
6. Education Center

In [5]:
# Terapkan seed 
np.random.seed(29)

# Daftar kategori location_type
location_type_lists = ['Cafe', 'Compound Space', 'Office', 'Restaurant', 'Transportation', 'Education Center']

# Probabilitas untuk masing-masing location_type
probabilities = [0.4, 0.1, 0.15, 0.25, 0.08, 0.02]  # Total harus 1

# Generate data location_type dengan probabilitas
df['Location Type'] = np.random.choice(location_type_lists, size=len(df),p=probabilities)

In [6]:
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space

## Generate Location

### Cafe 

Pengambilan nama saya ambil dari 30 nama kafe random dari website higo yang sudah terafiliasi dengan higo spot. 

1. 8TH Brew Coffee Shop
2. Tous les Jours Sency 
3. Kopitok Coffee Kemang 
4. Liberica Cilandak Town Square 
5. Kopi Bojo Plaza Kuningan
6. (lanjut di kode)

Kafe-kafe ini akan digunakan secara acak untuk mengisi nilai pada kolom "Location Type" dalam dataset, khususnya untuk baris yang memiliki tipe lokasi "Cafe."

In [7]:
cafe_list = [
    "8TH Brew Coffee Shop",
    "Tous les Jours Sency",
    "Kopitok Coffee Kemang",
    "Liberica Cilandak Town Square",
    "Kopi Bojo Plaza Kuningan",
    "60 Common House",
    "Pard Coffee",
    "Kedai Sinau",
    "Bukan Ruang",
    "Kopi Takua",
    "Dua Coffee @ Tebet",
    "Dua Coffee @ Cipete",
    "Kopikalyan Wijaya",
    "Kedai Inn Taman GBK",
    "Tuwuh Treats Bintaro",
    "Los Medellin",
    "Tempat Kita Coffee",
    "Tujuhari Coffee",
    "Ali Kopi Roastery Free Wifi",
    "Ruuaang Kopi",
    "Warung Fotkop",
    "Dekhad Gandaria",
    "Suasana Kopi Gandaria",
    "The Post Coffee and Eatery",
    "Think Coffee Club",
    "Kataloji Coffee & Eatery",
    "Jack & Joe Coffee and Eatery Lebak Bulus",
    "Monarki Coffee Rawamangun",
    "Stay Kopi Kopia",
    "Bleu Coffee and Space"
]

### Office 

List office 
1. Menara Satu 
2. HTS Net 
3. Harton Tower 
4. Conclave Arteri
5. Gedung Cyber 
6. MTM Representative Office 
7. Kantor PC 24 
8. Graha Aruna 

list office yang akan dipakai untuk daftar acak dan diambil dari website hugo.

In [8]:
# change data list 
office_list = [
    "Menara Satu",
    "HTS Net",
    "Harton Tower",
    "Conclave Arteri",
    "Gedung Cyber",
    "MTM Representative Office",
    "Kantor PC 24",
    "Graha Aruna"]

### Compound Space 
Disini karena bingung saya mengambil 1 mall, 1 hospital, 1 food joint, dan 1 shopping destination dari higo website. 

1. Mall Taman Palem 
2. JEC Kedoya
3. Menara FIF - Kantin 2
4. Galeri Lafayette

In [9]:
# List compound space 
compound_space = [
    "Mall Taman Palem",
    "JEC Kedoya",
    "Menara FIF - Kantin 2",
    "Galeri Lafayette"
]

### Restaurant 

Saya mengambil 15 restaurant random dari list hotspot higo. 

1. Ramen Ya! Gandaria City
2. Liberte Italian Cuisine
3. Satoru
4. Sliced Terogong
5. Sambal Setan 
6. (lanjut di kode )

In [10]:
restaurant_list = [
    "Ramen Ya! Gandaria City",
    "Liberte Italian Cuisine",
    "Satoru",
    "Sliced Terogong",
    "Sambal Setan",
    "Sambalado",
    "Warung Tekko Kemang",
    "Warung Tekko Kalibata",
    "Warung Tekko Daan Mogot",
    "Kintaro Sushi PIK",
    "Ramen Ya! Kota Kasablanka Lt.UG",
    "Warung Tekko Kramat Jati",
    "Ramen Ten 10 Kramat Jati",
    "Warung Tekko Artha Gading",
    "Warung Tekko Pluit Village"
]

### Transportation 

List lokasi transportasi diambil dari website higo.

In [11]:
location_names = [
    'Stasiun Velodrome',
    'Koridor 01 Halte Harmoni',
    'Koridor 13 Halte Tegal Mampang',
    'Koridor 13 Halte Rawa Barat',
    'Koridor 13 Halte Pasar Santa',
    'Koridor 13 Halte CSW',
    'Koridor 01 Halte Karet',
    'Koridor 01 Halte Dukuh Atas',
    'Koridor 01 Halte Tosari',
    'Koridor 01 Halte Bundaran HI',
    'Koridor 01 Halte Sarinah',
    'Koridor 01 Halte Kebon Sirih arah Blok M',
    'Koridor 01 Halte Kebon Sirih arah Kota',
    'Koridor 01 Halte Monumen Nasional',
    'Koridor 01 Halte Sawah Besar',
    'Koridor 01 Halte Mangga Besar',
    'Koridor 01 Halte Taman Sari',
    'Halte CSW - Asean - Kejaksaan Agung',
    'Stasiun Blok M BCA',
    'Stasiun Dukuh Atas BNI',
    'Stasiun Bundaran HI',
    'Stasiun Fatmawati',
    'Stasiun Pegangsaan Dua',
    'Stasiun Boulevard Utara',
    'Daytrans Grogol',
    'Stasiun Boulevard Selatan',
    'Stasiun Haji Nawi',
    'Stasiun ASEAN',
    'Stasiun Senayan',
    'Stasiun Setabudi Astra',
    'Stasiun Istora Mandiri'
]

In [12]:
len(location_names)

31

### Education Center

In [13]:
education_center = ['SMK AL Khairiyah 2']

In [14]:
df['Location Type'].value_counts()

Location Type
Cafe                290
Restaurant          179
Office              106
Compound Space       68
Transportation       46
Education Center     11
Name: count, dtype: int64

In [15]:
# create random seed
np.random.seed(76)

# Fungsi untuk menentukan lokasi berdasarkan tipe
def location(location_type):
    if location_type == 'Cafe':
        return np.random.choice(cafe_list, replace=True)
    elif location_type == 'Restaurant':
        return np.random.choice(restaurant_list, replace=True)
    elif location_type == 'Office':
        return np.random.choice(office_list, replace=True)
    elif location_type == 'Education Center':
        return np.random.choice(education_center, replace=True)
    elif location_type == 'Compound Space':
        return np.random.choice(compound_space, replace=True)
    elif location_type == 'Transportation':
        return np.random.choice(location_names, replace=True)
    else:
        return None  # Default jika tipe lokasi tidak cocok

# Terapkan fungsi ke dataframe
df['Location'] = df['Location Type'].apply(location)

# Tampilkan hasil
df.head(20)

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2
5,6,Google Pixel 5,Android,99,2.0,940,35,564,31,Male,2,Office,Harton Tower
6,7,Samsung Galaxy S21,Android,350,7.3,1802,66,1054,21,Female,4,Restaurant,Liberte Italian Cuisine
7,8,OnePlus 9,Android,543,11.4,2956,82,1702,31,Male,5,Restaurant,Satoru
8,9,Samsung Galaxy S21,Android,340,7.7,2138,75,1053,42,Female,4,Restaurant,Warung Tekko Artha Gading
9,10,iPhone 12,iOS,424,6.6,1957,75,1301,42,Male,4,Restaurant,Warung Tekko Daan Mogot
10,11,Google Pixel 5,Android,53,1.4,435,17,162,34,Female,1,Cafe,Kopikalyan Wijaya
11,12,OnePlus 9,Android,215,5.5,1690,47,641,24,Male,3,Restaurant,Warung Tekko Kalibata
12,13,OnePlus 9,Android,462,6.2,2303,65,1099,57,Female,4,Cafe,Los Medellin
13,14,Xiaomi Mi 11,Android,215,4.9,1662,43,857,43,Male,3,Compound Space,Menara FIF - Kantin 2
14,15,iPhone 12,iOS,189,5.4,1754,53,779,49,Female,3,Office,Gedung Cyber
15,16,Google Pixel 5,Android,503,10.4,2571,84,2025,39,Female,5,Cafe,Bukan Ruang
16,17,OnePlus 9,Android,132,3.6,628,32,344,47,Female,2,Cafe,Kopikalyan Wijaya
17,18,iPhone 12,iOS,299,5.8,1431,41,985,44,Female,3,Restaurant,Sambal Setan
18,19,Google Pixel 5,Android,81,1.4,558,16,297,26,Female,1,Restaurant,Sambalado
19,20,iPhone 12,iOS,577,8.5,2774,89,2192,29,Female,5,Restaurant,Ramen Ya! Gandaria City

## Generate Nama

In [16]:
faker= Faker('id_ID')
faker.seed_instance(20)

In [17]:
# create random names from popular names
np.random.seed(30)
df['Nama'] = [faker.name() for _ in range(len(df))]

df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T."
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi"
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati

## Generate Email 

Pada email ini kita gunakan nama dan id serta random @ email service provider .com gitu untuk langsung membuat data dummy. 

Berdasarkan [sumber](https://www.liputan6.com/hot/read/4617677/18-macam-email-terbaik-dan-populer-pahami-kelebihan-dan-kekurangannya?page=3) ada 6 top list email yang popular. 

1. gmail 
2. outlook 
3. yahoo mail 
4. AOL mail 
5. proton mail 
6. mail.com

In [18]:
 # create random seed
np.random.seed(96)
 
 # list email extensions populer
 email_extensions = [
    "@gmail.com",
    "@outlook.com",
    "@yahoo.com",
    "@aol.com",
    "@protonmail.com",
    "@mail.com"
]

#probabilities kemunculan email berdasarkan asumsi saja
probabilities= [0.5,0.2,0.15,0.1,0.03,0.02]

# Pastikan kolom 'User ID' adalah string
df['User ID'] = df['User ID'].astype(str)

# Tambahkan ekstensi acak dan simpan dalam kolom baru
df['Email'] = df['Nama'].str.strip().str.lower() + df['User ID'] + np.random.choice(email_extensions, size=len(df),p=probabilities)

# Tampilkan hasil
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama,Email
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T.","silvia maryadi, s.t.1@gmail.com"
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi","makara januar, s.psi2@aol.com"
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain,r. aisyah zulkarnain3@yahoo.com
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani,citra jailani4@aol.com
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati,galuh kusmawati5@yahoo.com

## Generate Nomor Telefon

Menggunakan Wikipedia untuk mengetahui extensi awal dari sebuah provider di indonesia . seperti nomor2 dari 0852 0853 dansebagainya. [Sumber](https://id.wikipedia.org/wiki/Daftar_produk_telekomunikasi_di_Indonesia).

In [19]:
# create random seed
np.random.seed(96)

# list awalan nomor 
all_prefixes = [
    "0811", "0812", "0813", "0821", "0822", "0823", "0851", "0852", "0853",
    "0814", "0815", "0816", "0855", "0856", "0857", "0858",
    "0895", "0896", "0897", "0898", "0899",
    "0817", "0818", "0819", "0859", "0877", "0878",
    "0831", "0832", "0833", "0838",
    "0881", "0882", "0883", "0884", "0885", "0886", "0887", "0888", "0889"
]

# Fungsi untuk membuat nomor handphone acak
def generate_random_number():
    prefix = np.random.choice(all_prefixes)  # Pilih prefix acak
    suffix = ''.join(np.random.choice(list('0123456789'), size=8))  # 8 digit acak
    return prefix + suffix

# Tambahkan kolom Handphone ke DataFrame
df['Handphone'] = [generate_random_number() for _ in range(len(df))]

df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama,Email,Handphone
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T.","silvia maryadi, s.t.1@gmail.com",089964112669
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi","makara januar, s.psi2@aol.com",081351231714
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain,r. aisyah zulkarnain3@yahoo.com,085945889174
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani,citra jailani4@aol.com,081985564279
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati,galuh kusmawati5@yahoo.com,082334298375

## Generate Jam Login 

Kita tentukan dulu aja pertimbangan-pertimbangan jam login. Harusnya jam login manusia di jakarta untuk wifi kemungkinan dimulai dari jam 5 pagi sampai jam 10 malam. 5 pagi karena ada alasan orang-orang berangkat kantor dan kemudian untuk sampai jam 10 malam kita anggap itu orang terakhir keluar dari kantor ataupun mall di jakarta.

In [20]:
# create random seed
np.random.seed(555)
# jam login
jam_login = list(range(0, 25))

#probabilities untuk jam 
probabilities = [
    0.01, 0.01, 0.01, 0.01, 0.01, 0.01,  # 00:00 - 06:00 (Dini Hari)
    0.02, 0.02, 0.02,                   # 06:00 - 09:00 (Pagi Berangkat Kerja)
    0.05, 0.07, 0.10,                   # 09:00 - 12:00 (Aktivitas Pagi-Siang)
    0.15, 0.20,                         # 12:00 - 14:00 (Waktu Makan Siang)
    0.12, 0.10, 0.08, 0.07,             # 14:00 - 18:00 (Sore Nongkrong atau Belanja)
    0.15, 0.18, 0.20,                   # 18:00 - 21:00 (Malam Santai di Mall/Kafe)
    0.10, 0.08,                         # 21:00 - 22:00 (Persiapan Pulang)
    0.05, 0.03                          # 22:00 - 00:00 (Tengah Malam)
]  # asumsi penggunaan hotspot atau interaksi manusia misal jam berangkat kerja maka probabilitas rendah dan ketika makan siang tinggi dan sebagainya. 

# Buat Kolom Baru Login Hour
df['Login Hour'] = np.random.choice(jam_login,size=len(df))

# cek
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama,Email,Handphone,Login Hour
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T.","silvia maryadi, s.t.1@gmail.com",089964112669,14
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi","makara januar, s.psi2@aol.com",081351231714,9
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain,r. aisyah zulkarnain3@yahoo.com,085945889174,1
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani,citra jailani4@aol.com,081985564279,4
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati,galuh kusmawati5@yahoo.com,082334298375,6

## Generate Tahun Lahir

In [21]:
# buat list kosong 

tahun_lahir = []

# looping for age
for i in df['Age']: 
    tahun = 2024 - i 
    tahun_lahir.append(tahun)

df['Year Birth']=tahun_lahir
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama,Email,Handphone,Login Hour,Year Birth
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T.","silvia maryadi, s.t.1@gmail.com",089964112669,14,1984
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi","makara januar, s.psi2@aol.com",081351231714,9,1977
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain,r. aisyah zulkarnain3@yahoo.com,085945889174,1,1982
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani,citra jailani4@aol.com,081985564279,4,2004
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati,galuh kusmawati5@yahoo.com,082334298375,6,1993

## Digital Interest 

Kita kembangkan dari user behavior class dan kita golongkan satu persatu. 

1. sosmed
2.  streaming video
3. news
4. E-commerce
5. other.

In [22]:
# create category dict from user behavior class
category_dict = {
    1: "sosmed",
    2: "streaming video",
    3: "news",
    4: "e-commerce",
    5: "other"
}

# Membuat kolom baru dengan mapping
df['Digital Interest'] = df['User Behavior Class'].map(category_dict)

# Tampilkan hasil
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama,Email,Handphone,Login Hour,Year Birth,Digital Interest
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T.","silvia maryadi, s.t.1@gmail.com",089964112669,14,1984,e-commerce
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi","makara januar, s.psi2@aol.com",081351231714,9,1977,news
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain,r. aisyah zulkarnain3@yahoo.com,085945889174,1,1982,streaming video
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani,citra jailani4@aol.com,081985564279,4,2004,news
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati,galuh kusmawati5@yahoo.com,082334298375,6,1993,news

In [23]:
# Inisialisasi Faker dan set seed
faker = Faker('id_ID')
random.seed(99)  # Seed untuk random
faker.seed_instance(99)  # Seed untuk Faker

# Daftar wilayah Jabodetabek
jabodetabek_areas = [
    "Jakarta Pusat", "Jakarta Barat", "Jakarta Selatan", 
    "Jakarta Timur", "Jakarta Utara", 
    "Bogor", "Tangerang", "Depok", "Bekasi","Tangerang Selatan"
]

def generate_jabodetabek_address():
    # Alamat dasar dari Faker + Wilayah Jabodetabek
    street_address = faker.street_address()
    area = random.choice(jabodetabek_areas)
    postcode = faker.postcode()
    return f"{street_address}, {area}, {postcode}"

# Buat DataFrame dengan kolom address
df['Address'] = [generate_jabodetabek_address() for _ in range(700)]  # Generate 10 alamat

# Tampilkan hasil
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama,Email,Handphone,Login Hour,Year Birth,Digital Interest,Address
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T.","silvia maryadi, s.t.1@gmail.com",089964112669,14,1984,e-commerce,"Jalan Kutisari Selatan No. 332, Tangerang, 46881"
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi","makara januar, s.psi2@aol.com",081351231714,9,1977,news,"Gg. Kendalsari No. 3, Tangerang, 63272"
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain,r. aisyah zulkarnain3@yahoo.com,085945889174,1,1982,streaming video,"Jl. Waringin No. 60, Jakarta Timur, 80635"
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani,citra jailani4@aol.com,081985564279,4,2004,news,"Jalan Rungkut Industri No. 05, Tangerang Selat..."
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati,galuh kusmawati5@yahoo.com,082334298375,6,1993,news,"Jl. Asia Afrika No. 761, Jakarta Selatan, 12490"

In [24]:
# pembetulan nama email yang masih salah beberapa karena ada koma dan white space
df['Email']=df['Email'].str.replace(" ","",regex=False)
df['Email']=df['Email'].str.replace(",","",regex=False)
df.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class,Location Type,Location,Nama,Email,Handphone,Login Hour,Year Birth,Digital Interest,Address
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4,Restaurant,Liberte Italian Cuisine,"Silvia Maryadi, S.T.",silviamaryadis.t.1@gmail.com,089964112669,14,1984,e-commerce,"Jalan Kutisari Selatan No. 332, Tangerang, 46881"
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3,Cafe,The Post Coffee and Eatery,"Makara Januar, S.Psi",makarajanuars.psi2@aol.com,081351231714,9,1977,news,"Gg. Kendalsari No. 3, Tangerang, 63272"
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2,Cafe,Kedai Sinau,R. Aisyah Zulkarnain,r.aisyahzulkarnain3@yahoo.com,085945889174,1,1982,streaming video,"Jl. Waringin No. 60, Jakarta Timur, 80635"
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3,Restaurant,Ramen Ya! Gandaria City,Citra Jailani,citrajailani4@aol.com,081985564279,4,2004,news,"Jalan Rungkut Industri No. 05, Tangerang Selat..."
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3,Compound Space,Menara FIF - Kantin 2,Galuh Kusmawati,galuhkusmawati5@yahoo.com,082334298375,6,1993,news,"Jl. Asia Afrika No. 761, Jakarta Selatan, 12490"

# Dataset Saving

In [25]:
# saving dataset for analysis
df.to_csv('dataset_real.csv',index=False)